<mat-toolbar class="header">
  <mat-icon>games</mat-icon>
  <span [routerLink]="['/']" routerLinkActive="router-link-active">Game Store</span>
  <span class="space"></span>
  <button mat-icon-button [matMenuTriggerFor]="auth">
    <mat-icon>menu</mat-icon>
    <mat-menu #auth="matMenu">
      <button mat-menu-item [routerLink]="['/login']" routerLinkActive="router-link-active">Log In</button>
      <button mat-menu-item [routerLink]="['/register']" routerLinkActive="router-link-active">Register</button>
    </mat-menu>
  </button>
</mat-toolbar>
