<div class="row justify-content-md-center">
  <mat-card class="col-6 col-md-4">
    <mat-card-title>Log in</mat-card-title>
    <mat-card-content>
      <mat-form-field class="input">
        <input matInput placeholder="Email">
      </mat-form-field><br>
      <mat-form-field class="input">
        <input type="password" matInput placeholder="Password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <a [routerLink]="['/change-password']" routerLinkActive="router-link-active">Cambiar contraseña</a><br>
        <a [routerLink]="['/register']" routerLinkActive="router-link-active">Registrarse</a>
      </div>
      <div>
        <a [routerLink]="['/home']"><button mat-raised-button color="primary">Start!</button></a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
